.counterWrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & .title {
    font: var(--font-small-bold);
    &.colorPrimaryLight {
      color: var(--color-primary-light);
    }
    &.colorSecondaryLight {
      color: var(--color-secondary-light);
    }
  }
  & .counterNumber {
    font: var(--font-extra-small-bold);
    color: var(--color-base-200);
    background-color: var(--color-base-400);
    padding: 0.125rem 0.5rem;
    border-radius: 999px;
  }
}
