.form {
  display: flex;
  gap: 0.5rem;

  margin-top: -1.6875rem;
  padding-bottom: 4rem;
  & input {
    height: 3.375rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 0.0625rem var(--color-base-700);
    border: 0;
    flex: 1;
    padding: 1rem;

    font: var(--font-medium-regular);
    color: var(--color-base-100);
    background-color: var(--color-base-500);

    &::placeholder {
      color: var(--color-base-300);
    }
    &:hover,
    &:focus {
      box-shadow: 0 0 0 0.125rem var(--color-secondary-light);
    }
  }
  & button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;

    font: var(--font-small-bold);
    color: var(--color-base-100);
    background-color: var(--color-primary-dark);

    border: 0;
    border-radius: 0.5rem;

    &:hover {
      background-color: var(--color-primary-light);
    }
  }
}
