:root {
  --color-primary-light: #4ea8de;
  --color-primary-dark: #1e6f9f;
  --color-secondary-light: #8284fa;
  --color-secondary-dark: #5e60ce;

  --color-base-700: #0d0d0d;
  --color-base-600: #1a1a1a;
  --color-base-500: #262626;
  --color-base-400: #333333;
  --color-base-300: #808080;
  --color-base-200: #d9d9d9;
  --color-base-100: #f2f2f2;

  --color-feedback-danger: #e25858;

  --font-family: "Inter", sans-serif;
  --font-medium-regular: 400 1rem/140% var(--font-family);
  --font-medium-bold: 700 1rem/140% var(--font-family);
  --font-small-bold: 700 0.875rem/140% var(--font-family);
  --font-extra-small-bold: 700 0.75rem var(--font-family);
}

:focus {
  /* Visible in the full-colour space */
  box-shadow: 0 0 0 0.125rem var(--color-secondary-light);

  /* Visible in Windows high-contrast themes */
  outline-color: transparent;
  outline-width: 0.125rem;
  outline-style: dotted;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: var(--color-base-600);
  color: var(--color-base-100);
}

body,
input,
textarea,
select,
button {
  font: var(--font-medium-regular);
}
